body {
    background: #3d518c;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}

h1, h2 {
	font-family: 'Playfair Display', serif;
}

h1 {
	color: #303fc7;
    font-size: 32px;
    font-weight: bolder;
    font-weight: 900;
}

h2 {
	color: #4350cc;
    font-size: 28px;
    font-weight: lighter;
    font-weight: 500;
}

a {
    text-decoration: none;
    font-weight: bold;
    font-weight: 600;
    font-size: 16px;
}

p {
	text-align: justify;
}

.container {
    width: 750px;
    margin: 40px auto;
}

.card-white {
	background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgba(0,0,0,1);
    border-radius: 4px;
    margin: 20px 0px;
    text-align: center;
}

#pp {
	border-radius:50%;
}

.btn-blue {
    background-color: #091540;
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
}

.btn-blue:hover {
    background-color: #abd2fa;
    color: black;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i {
    font-size: 45px;
    color: #091540;
}

.list-inline i:hover {
    color: #abd2fa;
}

#introduction p {
	text-align: center;
    margin-bottom: 35px;
}

@media (max-width: 750px) {
    .container {
        width: 500px;
    }
}

@media (max-width: 600px) {
    .container {
        width: 350px;
    }
}